.Login_user_interface{
 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.Login_user_interface_Icon img{
    width: 140px;
    
    
}

.Login_user_interface_Icon {
    background-color: rgb(240, 237, 237);
    border-radius: 100%;
    width: 220px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* styles.css */
.Login_user_interface_user_name {
    font-size: 40px;
    color: white;
    overflow: hidden; /* Ensures text doesn't overflow */
    white-space: nowrap; /* Keeps text on a single line */
    border-right: 3px solid white; /* Creates a cursor effect */
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
  }
  
  /* Animation for typing effect */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  /* Animation for blinking cursor */
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
  }
  
.Login_user_interface_sign_in button{
    width: 200px;
    height: 40px;
    border: orange;
    color: gray;
    font-weight: 700;
    
    
}

.Login_user_interface_sign_in button:hover{
      border: 3px solid black;
      cursor: pointer;
    
    
}

 